.service1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Kalnia', serif !important;
    margin-top: 50px;
    margin-bottom: 80px;
}

.service1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Kalnia', serif !important;
    margin-top: 50px;
    margin-bottom: 80px;
}